#============================================
# ClusterIP Service for Frontend Application
#============================================
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: dev
  labels:
    app: frontend
spec:
  selector:
    app: frontend
  ports:
  - name: http
    port: 80
    targetPort: frontend-port
    protocol: TCP
