#============================================
# ClusterIP Service for Backend Application
#============================================
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: dev
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
  - name: http
    port: 3000
    targetPort: backend-port
    protocol: TCP
