# MySQL Database Config
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: dev
  labels:
    app: mysql-db
data:
  MYSQL_DATABASE: "mysqldb"
  MYSQL_USER: "appuser"
  max_connections: "50"
